<div class="sidebar">

  <ul class="menu">

    <li routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">

      <span class="material-icons icon">home</span>
      <span class="menu-text">Home</span>

    </li>

    <li routerLink="/dashboard"
        routerLinkActive="active">

      <span class="material-icons icon">dashboard</span>
      <span class="menu-text">Dashboard</span>

    </li>

    <li routerLink="/checklists"
        routerLinkActive="active">

      <span class="material-icons icon">checklist</span>
      <span class="menu-text">Checklists</span>

    </li>

    <li routerLink="/reports"
        routerLinkActive="active">

      <span class="material-icons icon">bar_chart</span>
      <span class="menu-text">Reports</span>

    </li>

    <li routerLink="/admin"
        routerLinkActive="active">

      <span class="material-icons icon">admin_panel_settings</span>
      <span class="menu-text">Admin Panel</span>

    </li>

  </ul>

</div>
