<div class="sidebar">

  <!-- ================= USER SIDEBAR ================= -->
  <ul class="menu" *ngIf="!isAdmin()">

    <li routerLink="/dashboard" routerLinkActive="active">
      <span class="material-icons icon">dashboard</span>
      <span class="menu-text">My Dashboard</span>
    </li>

    <li routerLink="/checklists" routerLinkActive="active">
      <span class="material-icons icon">checklist</span>
      <span class="menu-text">Checklists</span>
    </li>

    <li routerLink="/reports" routerLinkActive="active">
      <span class="material-icons icon">bar_chart</span>
      <span class="menu-text">Reports</span>
    </li>
    

    <li routerLink="/profile" routerLinkActive="active">
      <span class="material-icons icon">person</span>
      <span class="menu-text">Profile</span>
    </li>
    

  </ul>


  <!-- ================= ADMIN SIDEBAR ================= -->
  <ul class="menu" *ngIf="isAdmin()">

    <li routerLink="/admin-dashboard" routerLinkActive="active">
      <span class="material-icons icon">home</span>
      <span class="menu-text">Dashboard</span>
    </li>
    <li routerLink="/admin/checklists" routerLinkActive="active">
  <span class="material-icons icon">assignment</span>
  <span class="menu-text">All Checklists</span>
</li>
    
    <li routerLink="/admin/checklist-builder" routerLinkActive="active">
  <span class="material-icons icon">checklist</span>
  <span class="menu-text">Checklist Builder</span>
</li>

    

    <li routerLink="/admin/users" routerLinkActive="active">
      <span class="material-icons icon">group</span>
      <span class="menu-text">User Management</span>
    </li>

    <li routerLink="/admin/roles" routerLinkActive="active">
      <span class="material-icons icon">verified_user</span>
      <span class="menu-text">Roles & Permissions</span>
    </li>

    <li routerLink="/admin/checklist-tracker" routerLinkActive="active">
  <span class="material-icons icon">apartment</span>
  <span class="menu-text">Checklist Tracker</span>
</li>

    <li routerLink="/admin/reports" routerLinkActive="active">
      <span class="material-icons icon">analytics</span>
      <span class="menu-text">Reports</span>
    </li>

    <li routerLink="/admin/security" routerLinkActive="active">
      <span class="material-icons icon">security</span>
      <span class="menu-text">Security & Compliance</span>
    </li>

    <li routerLink="/admin/notifications" routerLinkActive="active">
      <span class="material-icons icon">notifications</span>
      <span class="menu-text">Notifications</span>
    </li>

    <li routerLink="/admin/profile" routerLinkActive="active">
      <span class="material-icons icon">person</span>
      <span class="menu-text">Profile</span>
    </li>

  </ul>


  <!-- ================= LOGOUT ================= -->
  <ul class="menu logout-section">
    <li (click)="onLogout()">
      <span class="material-icons icon">logout</span>
      <span class="menu-text">Logout</span>
    </li>
  </ul>

</div>
