.outer-bg {
  height: 100vh;
  background: linear-gradient(180deg, #f4f6f9, #e9edf4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-wrapper {
  width: 92%;
  min-height: 90vh;  
  background: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  overflow: visible;  
}

/* ===== TOP NAVBAR ===== */
.top-navbar {
  height: 75px;
  background: #f9fafc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  height: 150px;
  width: auto;
}

.brand {
  font-weight: 600;
  font-size: 18px;
  color: #2a5298;
}


.brand {
  font-weight: 600;
  font-size: 18px;
}

.divider {
  width: 1px;
  height: 25px;
  background: #ddd;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-section input {
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
}

.bell {
  font-size: 18px;
  cursor: pointer;
}

/* ===== BODY SECTION ===== */
.body-section {
  display: flex;
  flex: 1;
}


.main-content {
  flex: 1;
  padding: 50px;
  background: #f5f7fb;
  overflow-y: auto;   
}

